RABBITMQ_URL=amqp://user:password@host/%2F?heartbeat=30
RABBITMQ_CONS_QUEUE=queue
RABBITMQ_CONS_EXCH=exchange
RABBITMQ_CONS_ROUTING_KEYS=routing keys coma separated

MONGODB=mongodb://user:pwd@host1,host2,host3/database?replicaSet=replicaset
MONGOCOLLECTION=collection
